.container-card{
    h3{
        color: blue;
        .customItemPlus{
            cursor: pointer;
            font-size: 24px;
            color: green;
            padding: 0px 10px;
        }
        .customItemTimes{
            cursor: pointer;
            color: red;
            float: right;
        }
    }
}